@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;500&display=swap');

* {
    font-family: 'Sora';
    margin: 0;
    padding: 0;
    color: white;
}

body {
    margin: 40px;
    background-color: #171d25;
}


#avatar {
    width: 65px;
    height: 65px;
    border-radius: 6px;
}

#header {
    position: relative;
    margin: 0 60px;
    margin-bottom: 120px;
}

#header span {
    font-size: 65px;
    position: absolute;
    top: -7px;
    margin-left: 15px;
    color: #1a9ffe;
}

#header h1 {
    font-size: 65px;
    height: 65px;
    margin: 0;
    padding: 0;
}

#user-highlights {
    text-align: center;
    margin: 40px 0;
}

#user-highlights h4 {
    font-size: 25px;
    margin: 0 75px;
    margin-bottom: 50px;
}

#user-highlights h5 {
    font-size: 20px;
    margin-bottom: 25px;
}

.highlight-box {
    background-color: #1a9ffe;
    padding: 16px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 250px;
    border-radius: 12px;
}

.highlight-box-title {
    /* margin-bottom: 100px; */
}

.highlight-info {
    display: flex;
    justify-content: space-between;
}

.highlight-info h1 {
    font-size: 40px;
}

.highlight-info p {
    font-size: 14px;
}

#highlight {
    /* display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; */

    height: 85vh;
    min-height: clamp(500px, 55vw, 55vw);
    max-height: clamp(70vw, 70vw, 1380px);
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 10px;
}