#header-bar {
    background-color: #fafafa;
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
    line-height: 3rem;
}

#quick-nav span {
    padding-right:  9px;
    padding-left:  10px;
    border-right: 1px solid #d9d9d9;
}

.item {
    text-decoration: none;
    color: inherit;
}