html {
    font-size: 20px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1226px;
    margin: auto;
}

body h2,
body p {
    text-align: center;
    margin-top: 32px;
}

#feature-product {
    margin: 0 50px;
    padding: 0 25px;
}

.section-header {
    margin-top: 52px;
    font-size: 3rem;
}

.section-id {
    margin-top: 40px;
    display: flex;
}

.section-number {
    display: inline-block;
    border: 1px solid grey;
    padding: 10px;
    font-size: 2rem;
}

.section-id h4 {
    padding-top: 20px;
    margin-left: 10px;
    font-size: 1.25rem;
}

.section-small-description {
    text-align: start;
    margin-top: 24px;
}

.feature-info {
    margin-top: 32px;
    display: flex;
}

.feature-image {
    width: 50%;
}

.feature-image img {
    width: 100%;
}

.feature-description {
    width: 50%;
    padding-left: 30px;
}

.feature-link img {
    width: 25%;
    margin-right: 2%;
}

.feature-link p {
    padding: 0;
    padding-bottom: 0.75rem;
    margin: 0;
    text-align: start;
    font-size: 0.75rem;
}

.feature-link {
    display: flex;
}

.price {
    font-weight: bold;
    font-size: 1.25rem;
}

.feature-detail-header {
    margin-top: 40px;
    display: flex;
    justify-content: stretch;
    border: 1px solid #dadada;
    height: 3rem;
    position: relative;
}

.feature-detail-header h4 {
    width: 50%;
    text-align: center;
    padding-top: 1.15rem;
    font-size: 0.75rem;
}

.active::after {
    content: "";
    width: 50%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.feature-detail-list {
    padding: 32px;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.sunblock-header {
    display: flex;
    justify-content: space-between;
}

.sunblock-header h4 {
    padding: 1rem 2.5rem;
    background-color: #e3f2ff;
}

.sunblock-header h6 {
    padding: 1rem 2.5rem;
}

.feature-detail-item {
    padding-top: 32px;
    display: flex;
}

.feature-detail-item img {
    width: 25%;
}

.feature-detail-item p {
    margin-top: 0;
    padding-left: 10px;
    text-align: start;
    font-size: 0.75rem;
}